.login-container {
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  .login-card__wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .login-header__text {
      padding: 10px 0 20px 0;
      text-align: center;
      font-size: 24px;
    }
    .mat-form-field {
      width: 350px;
    }
  }
}
