.dashboard-container {
  overflow: hidden;
  .div-spacer {
    flex: 1 1 auto;
  }
  .dashboard-content{
      padding:14px;
  }
  .card-title{
    padding: 0 0 16px 0;
    font-size: 20px;
    font-weight: 500;
  }
}
